/*********************************************************************
/*	Tablet styles
/*********************************************************************/

	body { background-size: 400px; overflow-x: hidden;}	
	header, nav { width: 768px; }
	#title { width: 280px; }
